<div class="row">
	<div class="col-xs-12 col-md-12">
		<h1 class="text-center">Browse Through Recent Listing</h1>
	</div>
</div>
<%= form_for listings_path do |form| %>
	<div class="row">
		<div class="col-xs-4 col-md-4">
			<%= form.text_field :query %>
		</div>
		<div class="col-xs-4 col-md-4">
			<%= form.select :query_target, grouped_options_for_select([["Price",
   ['Below','Above']]]), {include_blank: "Pick Query"}, { :class=> "btn btn-block btn-default"} %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-4">
			<%= form.submit "Query", class: "btn btn-primary btn-block" %>
		</div>
	</div>
<% end %>
<!-- first search form i did -->
<%= form_tag listings_path, method: "get" do  %>
	<div class="row">
		<div class="col-xs-3 col-md-3 pull-right">
				<%= select_tag :target, options_for_select(["Show All","City"]), class: "btn btn-default btn-block pull-right" %>
		</div>
		<div class="col-xs-3 col-md-3 pull-right form-group">
				<%= text_field_tag :search, params[:search],class: "form-control" %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6 pull-right">
			<%= submit_tag "Search", class: "btn btn-primary btn-block" %>
		</div>
	</div>
<% end %>
<!--  -->
<div class="row">
	<div class="col-xs-3 col-md-3">
		<h3 class="text-center">Title</h3>
	</div>
	<div class="col-xs-3 col-md-3">
		<h3 class="text-center">Description</h3>
	</div>
	<div class="col-xs-3 col-md-3">
		<h3 class="text-center">Price</h3>
	</div>
	<div class="col-xs-3 col-md-3">
		<h3 class="text-center">Location</h3>
	</div>
</div>
<%= render("all_listing") %>