<div class="row">
	<div class="col-xs-12 col-md-12">
		<h1 class="text-center"> User Profile </h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
	<%= image_tag @user.avatar %>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-md-4">
		<h4 class="text-center">Email: <%= @user.email %></h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-md-4">
		<h4 class="text-center">Gender: <%= @user.gender %></h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-md-4">
		<h4 class="text-center">Age: <%= @user.age %></h4>
	</div>
</div>
<% if current_user.role == "master" || current_user.id == @user.id %>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4">
				<%= link_to "Edit Profile", edit_user_path, class: "btn btn-block btn-primary" %>
			</div>
		</div><br>
		<div class="row">
			<div class="col-xs-4 cold-xs-offset-4 col-md-4 col-md-offset-4">
			<%= link_to "Delete Profile", user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-block btn-danger" %>
			</div>
		</div>
<% end %>
<% if current_user.role == "master" %>
	<%= form_for @user do |form| %>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4"><br>
			<div class="form-group text-center">
				<%= form.radio_button :role, "user" %>
				<%= form.label :role_user, "User" %>
				<%= form.radio_button :role, "admin" %>
				<%= form.label :role_admin, "Admin" %>
				<%= form.radio_button :role, "master" %>
				<%= form.label :role_master, "Master" %>
			</div>
			<%= form.submit "Edit", class: "btn btn-primary btn-block" %>
		</div>
	</div>
	<% end %>
<% end %>
<!-- Listings Div -->
<br>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<h1 class="text-center">My Listing</h1>
	</div>
</div>
<% if @user.listings.nil? %>
	<div class="row">
		<div x=class="col-xs-12 col-md-12">
		<h2 class="text-center">No Listings Yet</h2>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-2 col-md-4 col-md-offset-2">
			<h4 class="text-center">Title</h4>
		</div>
		<div class="col-xs-4 col-md-4">
			<h4 class="text-center">Verification</h4>
		</div>
	</div>
	<div class="row">
		<% @user.listings.each do |listing| %>
			<div class="col-xs-4 col-xs-offset-2 col-md-4 col-md-offset-2">
				<h5 class="text-center"><%= link_to listing.title, user_listing_path(@user, listing.id) %></h5>
			</div>
			<div class="col-xs-4  col-md-4 ">
				<h5 class="text-center"><%= listing.verification %></h5>
			</div>
		<% end %>
	</div>
<% end %>