<div class="container-fluid">

	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h1 class="text-center">Welcome to FakeBnB</h1>
		</div>
	</div>

	<div class="row line-separator">
	</div>

	<div id="welcome-container">
		<div class="row center" id="user_button_container">
			<div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4">
				<%if signed_in? %>
					<%= link_to "Add A New Listing", new_user_listing_path(current_user.id), class: "btn btn-block btn-danger", id: "new_listing" %>
					<%= link_to "Profile", user_path(current_user.id), class: "btn btn-block btn-primary", id: "profile" %>
					<%= link_to "Listings", listings_path, class: "btn btn-block btn-primary" %>
				<% else %>
					<%= link_to "Sign In", sign_in_path, class: "btn btn-block btn-primary", id: "sign_in", remote: true %>
					<%= link_to "Sign Up", sign_up_path, class: "btn btn-block btn-primary", id: "sign_up", remote: true %>
					<%= link_to "Sign in with Facebook", "/auth/facebook", id: "fb_sign_in" %>
				<% end %>
			</div>
		</div>
	</div>
</div>