<div class="row">
	<div class="col-xs-12 col-md-12">
		<h1 class="text-center">Pay Up</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
		<%= form_for :checkout_form, url: checkout_path, id: "cardForm" do |form|%>
			<div id="error-message"></div>

			<div class="form-group text-center">
				<%= form.label :card_number, "Credit Card Number", class: "hosted-field--label" %>
				<div class="hosted-field form-control" id="card-number"></div>
			</div>

			<div class="form-group text-center">
				<%= form.label :cvv, "CVV", class: "hosted-fields--label" %>
				<div class="hosted-field form-control" id="cvv"></div>
			</div>

			<div class="form-group text-center">
				<%= form.label :expiration_date, "Expiration Date", class: "hosted-fields--label" %>
				<div class="hosted-field form-control" id="expiration_date">
			</div>

			<%= hidden_field_tag :payment_method_nonce %>
			<br>
			<div class="button-container">
				<%= form.submit "Pay", class: "btn btn-primary btn-block", id: "submit-payment-btn" %>
			</div>

		<% end %>
	</div>
</div>