<!DOCTYPE html>
<html>
  <head>
    <title>FakeBnB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header>
		  <% if signed_in? %>
		      Signed in as: <%= current_user.email %>
		      <%= link_to 'Home', root_path %>
		      <%= button_to 'Sign out', sign_out_path, method: :delete %>
		   <% end %>
		</header>
    <section>

	    <div id="flash">
	      <% flash.each do |key, value| %>
	        <div class="flash <%= key %>"><%= value %></div>
	      <% end %>
	    </div>
	    <!--Changes Depending on the page -->
	    <div class="container-fluid">
    		<%= yield %>
    	</div>
    </section>
  </body>
</html>
